* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(120deg, #aa09db, #0311a6);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  
  header {
    font-size: 1.5rem;
  }
  
  header,
  form {
    min-height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: 0rem;
  }
  
  /* change start here  */
  
  h1 {
    text-align: center;
  }
  
  .hfive {
    color: rgb(240, 240, 240);
    text-align: center;
    padding-left: 13rem;
    background-color: rgb(223, 13, 13);
  }
  
  /* change end here */
  form button {
    color: #7d00fa;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  form button:hover {
    background-color: #7d00fa;
    color: white;
  }
  
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 40%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }
  
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: #d41106/*#ff6f47*/;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
  }
  
  .complete-btn {
    background: #178527/*green*/;
  }
  
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .fall {
    transform: translateY(8rem) rotateZ(25deg);
    opacity: 0;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
  }
  
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  select {
    color: #f04bab;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
  }
  
  .select::after {
    content: "\25BC";
    position: absolute;
    background-color: #7d00fa;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  
  .select:hover::after {
    background: white;
    color: #7d00fa;
  }
  
  @media screen and (max-width: 1024px) {
    .hfive {
      color: rgb(240, 240, 240);
      text-align: center;
  
      background-color: rgb(223, 13, 13);
    }
  
    form .todo-input {
      width: 53%;
      margin-left: 1.3rem;
    }
  
  
    h1 {
      width: 100%;
    }
  
    select {
      color: #7d00fa;
      width: 5.3rem;
      cursor: pointer;
      padding: 1rem;
    }
  
    .select::after {
      content: "\25BC";
      position: absolute;
      background-color: #7d00fa;
      top: 0;
      left: 2.5rem;
      right: 0rem;
      padding: 1rem;
      pointer-events: none;
      transition: all 0.4s ease;
    }
  
    .todo-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .todo-list {
      min-width: 100%;
      /* width: 100%; */
      justify-content: space-between;
      list-style: none;
    }
  
    .todo {
      margin: 0.5rem;
      background: white;
      color: black;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .todo li {
      flex: 1;
    }
  }